{{ if eq .chezmoi.os "darwin" "linux" -}}
#!/bin/bash

set -euo pipefail

{{ if eq .osid "darwin" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}

{{ if eq .osid "linux-debian" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.debian.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end -}}

{{ end -}}
