{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -euo pipefail

# Reset
NC='\033[0m'
# Colors
Red='\033[0;31m'
Green='\033[0;32m'

# Get current default shell for user
_CURRENT_SHELL=$(getent passwd $USER | awk -F: '{print $NF}')

echo "=#= [Generic] Changing default shell to ZSH.."

if [[ $_CURRENT_SHELL == *"/zsh" ]]; then
    echo -e "${Green}Default shell is ZSH! Skipping to next script..${NC}"
    exit 0
fi

if [ ! -x "$(command -v zsh)" ]; then
    echo -e "${Red}ZSH does not appear to be installed! Install it and try again.${NC}"
    exit 1
fi

chsh -s $(which zsh)

{{ end -}}
